<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div style="width: 50vw; height: 50vh; background-color: white; padding: 20px;   border: 1px solid black;">
        <h1 style="width: 100%; text-align: center; border: 1px solid black; padding-bottom: 10px; 
                                    padding-top: 10px; background-color: #3d39ff;">Login Verification Mail</h1>
        <p>
            Dear {{firstName}}, welcome to our app.
            <br />
            We are happy to have you here
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt autem a, sunt soluta iusto magnam assumenda accusantium. Fugiat corporis magnam quas odio. Voluptate laboriosam quidem quos incidunt modi aliquam aliquid!
            Deleniti, alias molestiae laudantium explicabo suscipit inventore earum quibusdam. Neque, quo alias quod saepe tenetur magni officiis dolorem distinctio aliquam vel! Doloremque placeat numquam nemo amet voluptatibus suscipit fugiat laudantium?
            Esse consectetur rem officiis provident quos odit voluptates unde vel at est illum culpa nesciunt ea alias, ullam ex veniam sint delectus, aliquam doloribus? Quidem maxime expedita iusto officiis adipisci!</p>
        </p>
        <p>The best class Team</p>
    </div>
</body>
         

</html>